// 主要颜色
$color-primary: #11A0FE;
$color-primary2: #FFB200;
$color-primary3: #0BCDFF;
// 次要颜色
// 分割线
$color-line: #FFFFFF; 
// 提示注意文字/按钮
$color-btn: #11A0FE;
// 按钮悬停边框颜色
$color-hover: #0084DD;
// 不可点击/取消等不重要按钮
$color-disable: #DBDBDB;

// 文字
$color-l1-d: #444444;
$color-l1-l: #FFFFFF;
$color-l2: #666;
$color-l3: #999;
$color-l4: #DCDCDC;

$fontsize-l1: 28px;
$fontsize-l2: 24px;
$fontsize-l3: 20px;
$fontsize-l4: 18px;
$fontsize-l5: 16px;
$fontsize-l6: 14px;
$fontsize-l7: 12px;

$font-family: PingFangSC, PingFangSC-Regular;

$media-max: 1919px;

