.search{
  width: 100px;
}
.inputarea{
  cursor: text;
  // border: 1px solid #000;
  height: 100%;
}
.p{
  width: 100%;
}
.inline{
  display: flex;
  // justify-content: space-between;
}

.imgItem {
  margin-top: 20px;
  align-items: center;
  img {
    max-width: 650px;
  }
}

.textItem {
  margin-top: 20px;
  align-items: center;
}

.delBtn {
  margin-left: 24px;
}

.orderNumTip {
  font-size: 12px;
  margin-left: 12px;
  color: gray;
}

.footerPlaceholder {
  height: 80px;
  display: block;
}