.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 0;
  padding: 20px 20px;
  &:hover {
    background: #f5f5f5;
  }
}

.active {
  background: #f5f5f5;
}

.bread {
  padding-bottom: 20px;
  border-bottom: solid 1px #f5f5f5;
  .breadItem {
    cursor: pointer;
  }
}