.module-comm-page {
    .module-comm-back {
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        cursor: pointer;
    }

    .module-comm-back:hover {
        color: #2364e8;
    }

    .module-comm-page-title {
        display: block;
        margin: 0 auto 10px;
        line-height: 35px;
        font-size: 24px;
        color: #171a1d;
        text-align: left;
        font-weight: bold;
    }

    .module-comm-page-desc {
        display: block;
        margin: 0 auto;
        line-height: 25px;
        font-size: 14px;
        color: rgba(23, 26, 29, 0.6);
        text-align: left;
    }

    .mart-10 {
        margin-top: 10px
    }

    .mart-30 {
        margin-top: 30px;
        text-align: center;
    }
}