.crystalInput {
  width: 200px;
}
.balanceInput {
  margin-bottom: 0;
  vertical-align: middle;
}

.balanceMinute {
  width: 80px;
  margin: 0 10px;
}

.balanceMsgInfo {
  width: 600px;
  position: relative;
  .ant-form-item-required {
    &::before {
      display: none!important;
    }
  }
}

.timeContent {
  margin-top: 24px;
  .dayInput {
    width: 80px;
    margin: 0 10px;
  }
  .hourInput {
    width: 120px;
    margin: 0 10px;
  }
}

.hourContent {
  position: relative;
  left: -80px;
}

